{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class='row'><!--fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--columna 1-->      
        <H4>Registrar</H4>
        <div class="card">
            <div class="card-body">
                <form action="/registraClientes/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtid" name="txtid" class="form-control"
                        placeholder="Codigo Cliente" minlength="5" maxlength="5" required>
                    </div>
                    <div class="form-group py-3" >
                        <input type="date" id="fecen" name="fecen" class="form-control"
                        placeholder="Fecha" maxlength="100" required>
                    </div>
                    <div class="form-group ">
                        <input type="time" id="tiempo" name="tiempo" class="form-control"
                        placeholder="Tiempo" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="com" name="com" class="form-control"
                        placeholder="Compra?" maxlength="2">
                    </div>
                    <div class="form-group ">
                        <input type="text" id="idm" name="idm" class="form-control"
                        placeholder="Membresia" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="mecom" name="mecom" class="form-control"
                        placeholder="Metodo de compra" maxlength="250">
                    </div>
                    <div class="form-group ">
                        <input type="text" id="cali" name="cali" class="form-control"
                        placeholder="Calificacion" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div><!--FROMULARIO-->
                </form>
                <!--This is some text within a card body.-->
            </div>
        </div><!--tarjeta-->
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna 2-->
        <h4>List Cliente</h4>
        <img class="w-50" src="{% static 'clientes.png' %}" alt="" width="50" height="600">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Tiempo</th>
                        <th scope="col">Compra?</th>
                        <th scope="col">Membresia</th>
                        <th scope="col">Metodo</th>
                        <th scope="col">Calificacion</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in mclientes %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{m.id_cliente}}</td>
                            <td>{{m.fecha_entrada}}</td>
                            <td>{{m.tiempo_local}}</td>
                            <td>{{m.compra}}</td>
                            <td>{{m.id_membresia}}</td>
                            <td>{{m.metodo_pago}}</td>
                            <td>{{m.calificacion_dada}}</td>
                            <td><a href="seleccionar_Cliente/{{m.id_cliente}}" class="btn btn-info">Editar</a></td>
                            <td><a href="borrar_Clientes/{{m.id_cliente}}" class="btn btn-danger">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock cuerpo %}